* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
}
main {
    width: 100vw;
    height: auto;
    display: grid;
    text-align: center;
}
.search-bar {
    width: auto;
    height: auto;
    position: relative;
}
.blank {
    width: 100vw;
    height: 40vh;
}
.footer {
    width: 100vw;
    height: auto;
}
.card-deck {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
}
.card {
    width: 50vw;
    height: auto;
}
.card-img-top {
    width: 10vw;
    height: auto;
}
.card-body {
    width: 50vw;
    height: auto;
}
.card-title {
    font-size: .8rem; 
}
.card-text {
 font-size: .8rem;
}

.card-footer {
    width: 100vw;
    height: 50vh;
}
.inputs {
    position: relative;
    padding: 6px;
    text-align: center;
}  

