* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
main {
    width: 100vw;
    height: auto;
    display: grid;
    text-align: center;
}
.search-bar {
    width: auto;
    height: auto;
    position: relative;
}
.blank {
    width: 100vw;
    height: 40vh;
}
footer {
    width: 100vw;
    height: auto;
}
.card-deck {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
}
.card {
    width: 80vw;
    height: auto;
    display: grid;
}
.card-img-top {
    width: 10vw;
    height: auto;
}
.card-body {
    width: 100vw;
    height: 25vh;
}
.card-title {
    font-size: .8rem;
    position: relative;
}
.card-footer {
    width: auto;
    height: auto;
}
.inputs {
    position: relative;
    padding: 6px;
    text-align: center;
}  

